body {
  font-family: sans-serif;
}

.title {
  text-align: center;  
  margin-top: 140px;
  margin-bottom: 140px;
  color: #00838A;
  font-family: serif, 'song ti';
  font-size: 3rem;
}


.name {
  margin-top: 200px;  
  margin-left: 2rem;
  margin-bottom: 15px;
}

.name ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

.name li {
  margin-right: 7px;
}


p {
  text-align: center;  

}

nav {
  margin-bottom: 60px;
  margin-left: 2rem;

}

nav ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-wrap: wrap;
}

nav li {
  margin-right: 10px;
}

nav li a {
  color: #00838A;
  font-size: 16px;
}


@media screen and (max-width: 1024px) { 
  .title { 
    margin-top: 70px;
    margin-bottom: 70px;
  } 
  .name {
    margin-left: 1rem;
  }
  nav {
    margin-left: 1rem;
  }
}
